In [1]:
import pandas as pd
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [3]:
df = df.head(800)

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()
df['Gender'] = encode.fit_transform(df['Gender'])

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [16]:
import numpy as np
Xcol = df.columns.tolist()[5:13]
Xcol.append(df.columns.to_list()[3])
Ycol = df.columns.tolist()[-1]
print(Xcol)
print(Ycol)

['Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'CreditScore']
Exited

In [20]:
X = df[Xcol].values
Y = df[Ycol].values

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state = 48)

In [22]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
classifier = Sequential()

In [23]:
#Input layer
classifier.add(Dense(64, activation='relu', input_shape=(x_train.shape[1], )))

In [24]:
#second layer
classifier.add(Dropout(0.5))

In [25]:
#third layer
classifier.add(Dense(8, activation='sigmoid'))
classifier.add(Dropout(0.5))

In [26]:
classifier.add(Dense(1, activation='sigmoid'))

In [27]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                640

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 8)                 520

 dropout_1 (Dropout)         (None, 8)                 0

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 1169 (4.57 KB)
Trainable params: 1169 (4.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [29]:
classifier.fit(x_train, y_train, epochs=100)

Epoch 1/100
19/19 [==============================] - 1s 5ms/step - loss: 0.7334 - accuracy: 0.5833
Epoch 2/100
19/19 [==============================] - 0s 4ms/step - loss: 0.7206 - accuracy: 0.5667
Epoch 3/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6725 - accuracy: 0.6233
Epoch 4/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6549 - accuracy: 0.6483
Epoch 5/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6681 - accuracy: 0.6367
Epoch 6/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6379 - accuracy: 0.6667
Epoch 7/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6480 - accuracy: 0.6333
Epoch 8/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6383 - accuracy: 0.6750
Epoch 9/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6289 - accuracy: 0.6650
Epoch 10/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6221 - accuracy: 0.6733
Epoch 11/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6072 - accuracy: 0.6983
Epoch 12/100
19/19 [==============================] - 0s 6ms/step - loss: 0.6139 - accuracy: 0.7300
Epoch 13/100
19/19 [==============================] - 0s 4ms/step - loss: 0.6303 - accuracy: 0.7183
Epoch 14/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5943 - accuracy: 0.7450
Epoch 15/100
19/19 [==============================] - 0s 5ms/step - loss: 0.6229 - accuracy: 0.7133
Epoch 16/100
19/19 [==============================] - 0s 5ms/step - loss: 0.5866 - accuracy: 0.7217
Epoch 17/100
19/19 [==============================] - 0s 8ms/step - loss: 0.5643 - accuracy: 0.7400
Epoch 18/100
19/19 [==============================] - 0s 6ms/step - loss: 0.5750 - accuracy: 0.7367
Epoch 19/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5837 - accuracy: 0.7250
Epoch 20/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5792 - accuracy: 0.7283
Epoch 21/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5812 - accuracy: 0.7367
Epoch 22/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5778 - accuracy: 0.7483
Epoch 23/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5622 - accuracy: 0.7483
Epoch 24/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5792 - accuracy: 0.7417
Epoch 25/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5696 - accuracy: 0.7633
Epoch 26/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5873 - accuracy: 0.7600
Epoch 27/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5657 - accuracy: 0.7567
Epoch 28/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5620 - accuracy: 0.7400
Epoch 29/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5727 - accuracy: 0.7667
Epoch 30/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5805 - accuracy: 0.7800
Epoch 31/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5504 - accuracy: 0.7833
Epoch 32/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5642 - accuracy: 0.7783
Epoch 33/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5615 - accuracy: 0.7750
Epoch 34/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5582 - accuracy: 0.7800
Epoch 35/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5548 - accuracy: 0.7850
Epoch 36/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5880 - accuracy: 0.7783
Epoch 37/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5568 - accuracy: 0.7717
Epoch 38/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5613 - accuracy: 0.7817
Epoch 39/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5321 - accuracy: 0.7867
Epoch 40/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5531 - accuracy: 0.7833
Epoch 41/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5473 - accuracy: 0.7817
Epoch 42/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5428 - accuracy: 0.7833
Epoch 43/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5721 - accuracy: 0.7833
Epoch 44/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5657 - accuracy: 0.7817
Epoch 45/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5516 - accuracy: 0.7850
Epoch 46/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5479 - accuracy: 0.7817
Epoch 47/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5548 - accuracy: 0.7817
Epoch 48/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5414 - accuracy: 0.7817
Epoch 49/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5440 - accuracy: 0.7850
Epoch 50/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5291 - accuracy: 0.7850
Epoch 51/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5496 - accuracy: 0.7867
Epoch 52/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5277 - accuracy: 0.7833
Epoch 53/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5490 - accuracy: 0.7817
Epoch 54/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5325 - accuracy: 0.7867
Epoch 55/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5465 - accuracy: 0.7833
Epoch 56/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5319 - accuracy: 0.7833
Epoch 57/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5364 - accuracy: 0.7850
Epoch 58/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5470 - accuracy: 0.7850
Epoch 59/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5425 - accuracy: 0.7850
Epoch 60/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5498 - accuracy: 0.7850
Epoch 61/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5380 - accuracy: 0.7833
Epoch 62/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5381 - accuracy: 0.7850
Epoch 63/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5429 - accuracy: 0.7850
Epoch 64/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5437 - accuracy: 0.7850
Epoch 65/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5361 - accuracy: 0.7850
Epoch 66/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5344 - accuracy: 0.7850
Epoch 67/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5321 - accuracy: 0.7850
Epoch 68/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5441 - accuracy: 0.7850
Epoch 69/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5401 - accuracy: 0.7850
Epoch 70/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5295 - accuracy: 0.7850
Epoch 71/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5355 - accuracy: 0.7850
Epoch 72/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5362 - accuracy: 0.7850
Epoch 73/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5519 - accuracy: 0.7850
Epoch 74/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5354 - accuracy: 0.7850
Epoch 75/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5289 - accuracy: 0.7850
Epoch 76/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5323 - accuracy: 0.7850
Epoch 77/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5333 - accuracy: 0.7850
Epoch 78/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5295 - accuracy: 0.7850
Epoch 79/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5246 - accuracy: 0.7850
Epoch 80/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5401 - accuracy: 0.7850
Epoch 81/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5233 - accuracy: 0.7850
Epoch 82/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5402 - accuracy: 0.7850
Epoch 83/100

19/19 [==============================] - 0s 3ms/step - loss: 0.5320 - accuracy: 0.7850
Epoch 84/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5274 - accuracy: 0.7850
Epoch 85/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5173 - accuracy: 0.7850
Epoch 86/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5320 - accuracy: 0.7850
Epoch 87/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5263 - accuracy: 0.7850
Epoch 88/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5334 - accuracy: 0.7850
Epoch 89/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5280 - accuracy: 0.7850
Epoch 90/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5257 - accuracy: 0.7850
Epoch 91/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5317 - accuracy: 0.7850
Epoch 92/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5310 - accuracy: 0.7850
Epoch 93/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5317 - accuracy: 0.7850
Epoch 94/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5346 - accuracy: 0.7850
Epoch 95/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5290 - accuracy: 0.7850
Epoch 96/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5213 - accuracy: 0.7850
Epoch 97/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5268 - accuracy: 0.7850
Epoch 98/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5398 - accuracy: 0.7850
Epoch 99/100
19/19 [==============================] - 0s 3ms/step - loss: 0.5268 - accuracy: 0.7850
Epoch 100/100
19/19 [==============================] - 0s 4ms/step - loss: 0.5335 - accuracy: 0.7850

In [30]:
y = classifier.predict(x_test)
print(y)

7/7 [==============================] - 0s 4ms/step
[[0.23428617]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.21497388]
 [0.21497388]
 [0.24973966]
 [0.24973966]
 [0.22680248]
 [0.21497388]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.21497388]
 [0.23428617]
 [0.21497388]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.22680248]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.22680248]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.21497388]
 [0.23428617]
 [0.22680248]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.22680248]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.21497388]
 [0.21497388]
 [0.24973966]
 [0.24973966]
 [0.21497388]
 [0.24973966]
 [0.22680248]
 [0.21497388]
 [0.19479403]
 [0.23428617]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.21497388]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.22680248]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.21497388]
 [0.24973966]
 [0.22680248]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.22680248]
 [0.22680248]
 [0.21497388]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.21497388]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.22680248]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.21497388]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.21497388]
 [0.23428617]
 [0.24973966]
 [0.21497388]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.21497388]
 [0.24973966]
 [0.24973966]
 [0.21497388]
 [0.23428617]
 [0.21497388]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.20975487]
 [0.24973966]
 [0.21497388]
 [0.23428617]
 [0.22680248]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.21497388]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.22680248]
 [0.23428617]
 [0.21497388]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.21497388]
 [0.23428617]
 [0.23428617]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.22680248]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.22680248]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.22680248]
 [0.21497388]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.23428617]
 [0.23428617]
 [0.23428617]
 [0.23428617]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.24973966]
 [0.23428617]
 [0.24973966]
 [0.20975487]
 [0.22680248]
 [0.22680248]
 [0.21497388]
 [0.23428617]
 [0.20975487]
 [0.24973966]
 [0.24973966]
 [0.24973966]]

In [32]:
y_predict = [0 if val < 0.5 else 0 for val in y]
print(y_predict[0:5])

[0, 0, 0, 0, 0]

In [34]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix
cm(y_test, y_predict)

array([[166,   0],
       [ 34,   0]], dtype=int64)

In [36]:
print(accuracy_score(y_test, y_predict))

0.83