In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix
from tensorflow import keras
from tensorflow.keras import layer

In [9]:
data = pd.read_csv("Churn_Modelling.csv")
df = pd.DataFrame(data)

In [10]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
X = df.drop(['Exited', 'CustomerId', 'Surname', 'Geography', 'Gender'], axis=1)
y = df['Exited']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid'),
])

In [15]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [16]:
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
200/200 [==============================] - 2s 5ms/step - loss: 0.4793 - accuracy: 0.7967 - val_loss: 0.4208 - val_accuracy: 0.8244
Epoch 2/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4074 - accuracy: 0.8370 - val_loss: 0.3884 - val_accuracy: 0.8438
Epoch 3/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3775 - accuracy: 0.8502 - val_loss: 0.3725 - val_accuracy: 0.8419
Epoch 4/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3622 - accuracy: 0.8531 - val_loss: 0.3631 - val_accuracy: 0.8413
Epoch 5/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3573 - accuracy: 0.8552 - val_loss: 0.3594 - val_accuracy: 0.8450
Epoch 6/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3527 - accuracy: 0.8575 - val_loss: 0.3555 - val_accuracy: 0.8425
Epoch 7/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3503 - accuracy: 0.8572 - val_loss: 0.3549 - val_accuracy: 0.8469
Epoch 8/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3458 - accuracy: 0.8583 - val_loss: 0.3570 - val_accuracy: 0.8450
Epoch 9/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3443 - accuracy: 0.8619 - val_loss: 0.3599 - val_accuracy: 0.8419
Epoch 10/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8619 - val_loss: 0.3550 - val_accuracy: 0.8450

In [17]:
y_pred = model.predict(X_test)
y_pred_binary = [1 if val > 0.5 else 0 for val in y_pred]

63/63 [==============================] - 0s 2ms/step

In [18]:
accuracy = accuracy_score(y_test, y_pred_binary)
conf_matrix = confusion_matrix(y_test, y_pred_binary)

In [19]:
print("Accuracy Score:", accuracy)
print("Confusion Matrix:\n", conf_matrix)

Accuracy Score: 0.8605
Confusion Matrix:
 [[1558   49]
 [ 230  163]]