In [72]:
import pandas as pd
df = pd.read_csv('Bank_Customer_Dataset.csv')
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [74]:
X_col = df.columns.to_list()[1:11]
Y_col = df.columns.to_list()[-1]
print(X_col)
print(Y_col)

['credit_score', 'country', 'gender', 'age', 'tenure', 'balance', 'products_number', 'credit_card', 'active_member', 'estimated_salary']
churn

In [75]:
X = df[X_col].values
Y = df[Y_col].values

In [76]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [77]:
from sklearn.preprocessing import LabelEncoder
lableEncode = LabelEncoder()
X[:,1] = lableEncode.fit_transform(X[:,1])
X[:,2] = lableEncode.fit_transform(X[:,1])

In [78]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=48)

In [79]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
classifier = Sequential()

In [80]:
classifier.add(Dense(8, activation='relu', input_shape=(x_train.shape[1], )))
classifier.add(Dropout(0.5))

In [81]:
classifier.add(Dense(6, activation='relu'))
classifier.add(Dropout(0.4))

In [82]:
classifier.add(Dense(1, activation='sigmoid'))

In [83]:
classifier.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 8)                 88

 dropout_12 (Dropout)        (None, 8)                 0

 dense_31 (Dense)            (None, 6)                 54

 dropout_13 (Dropout)        (None, 6)                 0

 dense_32 (Dense)            (None, 1)                 7

=================================================================
Total params: 149 (596.00 Byte)
Trainable params: 149 (596.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [1]:
#fitting
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
nn = classifier.fit(x_train, y_train, batch_size=28, epochs=200, validation_split=0.1)

NameError: name 'classifier' is not defined